#login{

	background-color: #ADD8E6;
	position: absolute;
	top: 15%;
	left: 25%;
	width: 48%;
	height: 40%;
	border-radius: 5%;
	border-style: solid;
}

#logincontainer{

	position: absolute;
	top: 4em;
}


#Name{

	position: absolute;
	top: 25%;
	left: 5%;
	font-size: 1.3em;
}

#name{

	position: absolute;
	top: 35%;
	left: 5%;
	width: 80%;
	height: 9%;
	font-size: 1.2em;
}

#Pass{

	position: absolute;
	top: 50%;
	left: 5%;
	font-size: 1.3em;
}

#pass{

	position: absolute;
	top: 60%;
	left: 5%;
	width: 80%;
	height: 9%;
	font-size: 1.2em;
}


#hrinlogin{

	height: 1%;
	background-color: black;
	position: relative;
	top: 3%;
	
}

#hrinlogin2{

	height: 2%;
	background-color: black;
	position: relative;
	top: 1%;
	
}

#a_s{

	font-size: 2em;
	color: black;
	position: relative;
	left: 10%;
	top: 2%;
}

#send{
	
	position: absolute;
	top: 75%;
	left: 5%;
	width: 25%;
	height: 12%;
	background-color: #2E9AFE;
	border-color: #2E64FE;
	font-size: 1.2em;
	
}

#welcome_message{
	
	font-size: 4em;
	text-align: center;
	font-family: cursive;
	
}

#welcome_body{
	
	text-indent: 4em;
	width: 4em;
	font-size: 4em;
	
}

#signup{
	position: absolute;
	top: 75%;
	left: 35%;
	width: 25%;
	height: 12%;
	background-color: #2E9AFE;
	border-color: #2E64FE;
	font-size: 1.2em;
}

#matching{

	color: red;
	position: absolute;
	top: 89%;
	font-size: 1.3em;
	left : 20%;
	visibility: hidden;
}
