#table_container{

	position: absolute;
	left: 28%;
	top: 10%;
	background-color: #ADD8E6;
	height: 70%;

}

#username, #confirm_pass, #pass, #email, #usn{

	font-size: 0.5em;
}

#phone{

	font-size: 0.5em;
}

#signup_font{

	font-size: 2em;
}


#signup{

	position: absolute;
	background-color: #2E9AFE;
	top: 86%;
	left: 74%;
	border-color: #2E64FE;
	font-size: 1.2em;
	height:8%;
	width: 22%;
}

#signup_text{

	font-size: 2.5em;
	font-family: cursive;
	position: absolute;
	top: 1%;
	left: 30%;
	color: #2554C7;
}

#required{

	font-size: 0.5em;
	color: red;

}

#required_text{

	font-size: 1.2em;
	position: absolute;
	top: 81%;
	left: 38%;
	color: red;
	visibility: hidden;
}

#matching{

	font-size: 0.5em;
	position: absolute;
	top: 33%;
	left: 60%;
	color: red;
	visibility: hidden;

}